{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Login</h1>

      <form method=POST action="{{ url_for('signin') }}">

        <label for="name">Username</label>
        <input type="text" name="username" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Login" class="btn">

      </form>

      <br>

      <div>
          Havent created a user? <a href="{{ url_for('signup') }}">Sign up here</a>.
      </div>

    </div>

  </div>
{% endblock %}
